fastapi==0.115.8
loguru==0.7.3
nltk==3.9.1
openai==1.63.2
pydantic==2.10.6
pydantic_core==2.27.2
pymongo==4.11.1
python-dotenv==1.0.1
python-Levenshtein==0.26.1
python-multipart==0.0.20
pyttsx3==2.98
pywhatkit==5.4
requests==2.32.3
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.11.0
uvicorn==0.34.0
virtualenv==20.26.6
